.container {
    margin: auto;
    width: 100%;
}

.card-container {
    margin: auto;
    width: 100%;
    height: 100%;
}

.btn-back {
  float: left;
  margin: 10px;
}

.btn-next {
  margin-left: -25px;
}

.btn-prev {
  float:right;
  margin-right: -25px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    font-size: 30px;
    margin: auto;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #e2e2e2;
    color: #2E0854;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #2E0854;
    color: #e2e2e2;
    transform: rotateY(180deg);
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .flip-card{
    height: 200px;
  }
  .btn-prev, .btn-next {
    height: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  .flip-card{
    height: 300px;
  }
  .btn-prev, .btn-next {
    height: 300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .flip-card{
    height: 400px;
  }
  .btn-prev, .btn-next {
    height: 400px;
  }
}